/* upd3c 	https://rakosel.github.io/WSB_side_loaded_css.css	*/	

.noscroll { position: fixed;overflow:hidden; display: none;}

.overlay { 
   		overflow-y: scroll;
		}

.sidebar_sensor
{
	background-color:#A1A1A1;
}
.macnt
{
	background-color:#A1A1A1;
}



  .bd_fail 
  {
    border: 3px inset red;
	border-radius: 12px;
  }		
			
