/* upd3c 	https://rakosel.github.io/WSB_side_loaded_css.css	*/	

.noscroll { position: fixed;overflow:hidden; display: none;}

.overlay { 
   		overflow-y: scroll;
		}

.sidebar_sensor
{
	background-color:#A1A1A1;
}
.macnt
{
	background-color:#A1A1A1;
}

      .GaugeMeter {
        position: Relative;
        text-align: Center;
        overflow: Hidden;
        cursor: Default;
      }

      .GaugeMeter SPAN,
      .GaugeMeter B {
        margin: 0 23%;
        width: 54%;
        position: Absolute;
        text-align: Center;
        display: Inline-Block;
        color: RGBa(0, 0, 0, 0.8);
        font-weight: 100;
        font-family: 'Open Sans', Arial;
        overflow: Hidden;
        white-space: NoWrap;
        text-overflow: Ellipsis;
      }
      .GaugeMeter[data-style='Semi'] B {
        margin: 0 10%;
        width: 80%;
      }

      .GaugeMeter S,
      .GaugeMeter U {
        text-decoration: None;
        font-size: 0.6em;
        font-weight: 200;
        opacity: 0.6;
      }

      .GaugeMeter B {
        color: Black;
        font-weight: 200;
        font-size: 0.85em;
        opacity: 0.8;
      }


  .bd_fail 
  {
    border: 3px inset red;
	border-radius: 12px;
  }		
			
